/* home.css */

.home-container {
  display: flex;
  flex-direction: column;
  min-height: 90vh; /* Ensures it's at least the height of the viewport */
}

.content-container {
  flex: 1; /* Allows this container to grow and shrink as needed */
  display: flex;
  flex-direction: column; /* Stack children vertically */
  justify-content: center; /* Center children vertically */
}

.footer-container {
  margin-top: auto; /* Pushes the footer to the bottom */
  justify-content: center;
}
