textarea {
    background-color: rgb(158, 156, 156) !important;
}

.booking-form {
    background-color: rgba(128, 200, 189, 0.597) !important;
}

#calendar {
    background-color: rgb(158, 156, 156) !important;
}